.gitignore
.github/ISSUE_TEMPLATE/bug_report.md
/node_modules
/note
/assets/unused_libraries
/${tmpdir}
/other_scripts
/assets/markdown/development_todo.md
/assets/markdown/tasks_before-update.md
/assets/markdown/original_README.md
/.idea