/* 显示/隐藏控制面板按钮 */
.blth_btn {
  background-color: #23ade5;
  font-size: small;
  margin-inline-start: 5px;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px #00000075;
  line-height: 10px;
  margin-left: 15px;
}

.blth_btn:hover {
  background-color: #1097cc;
}

.blth_btn:hover:active {
  background-color: #0e86b6;
  position: relative;
  top: 1px;
}

/* 解决 <el-link> 和 <el-text> 一起使用时无法垂直对齐的问题 */
.el-link-va-baseline {
  vertical-align: baseline;
}
