/* 显示/隐藏控制面板按钮 */
.blth-btn {
  z-index: 1;
  padding: 5px;
  margin-inline-start: 5px;
  margin-left: 15px;
  font-size: small;
  line-height: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #23ade5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px #00000075;
}

.blth-btn:hover {
  background-color: #1097cc;
}

.blth-btn:hover:active {
  position: relative;
  top: 1px;
  background-color: #0e86b6;
}

/**
  覆盖B站CSS样式，美化弹窗中的列表样式
 */
.el-message-box ul,
ol {
  padding-left: 1em !important;
}

.el-message-box ul {
  list-style: initial !important;
}

.el-message-box ol {
  list-style: decimal !important;
}

/**
  适配实验室的“屏幕适配”功能
  原理：屏幕适配css中的zoom值为n，此处就设置为1/n
 */
html[lab-style*='adaptive'] {
  @media screen and (width >= 1930px) {
    .base {
      zoom: calc(15 / 16);
    }
  }

  @media screen and (width >= 2058px) {
    .base {
      zoom: calc(3 / 4);
    }
  }

  @media screen and (width >= 2570px) {
    .base {
      zoom: calc(2 / 3);
    }
  }

  @media screen and (width >= 3210px) {
    .base {
      zoom: calc(1 / 2);
    }
  }

  @media screen and (width >= 3850px) {
    .base {
      zoom: calc(15 / 32);
    }
  }
}
