/* 显示/隐藏控制面板按钮 */
.blth_btn {
  background-color: #23ade5;
  font-size: small;
  margin-inline-start: 5px;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 0 2px #00000075;
  line-height: 10px;
  margin-left: 15px;
}

.blth_btn:hover {
  background-color: #1097cc;
}

.blth_btn:hover:active {
  background-color: #0e86b6;
  position: relative;
  top: 1px;
}

/**
  向下滚动网页后B站会动态插入一段css
  li {
      list-style: none;
  }
  从而导致弹窗中的列表样式失效
 */
.el-message-box li {
  list-style: initial;
}

/**
  适配实验室的“屏幕适配”功能
  原理：屏幕适配css中的zoom值为n，此处就设置为1/n
 */
html[lab-style*='adaptive'] {
  @media screen and (min-width: 1930px) {
    .base {
      zoom: calc(15 / 16);
    }
  }

  @media screen and (min-width: 2058px) {
    .base {
      zoom: calc(3 / 4);
    }
  }

  @media screen and (min-width: 2570px) {
    .base {
      zoom: calc(2 / 3);
    }
  }

  @media screen and (min-width: 3210px) {
    .base {
      zoom: calc(1 / 2);
    }
  }

  @media screen and (min-width: 3850px) {
    .base {
      zoom: calc(15 / 32);
    }
  }
}
