/*! 由 element-plus/theme-chalk/dark/css-vars.css 修改得到 */

html[lab-style*='dark'] {
  color-scheme: dark;
  --el-color-primary: #409eff;
  --el-color-primary-light-3: rgb(51, 117, 185);
  --el-color-primary-light-5: rgb(42, 89, 138);
  --el-color-primary-light-7: rgb(33, 61, 91);
  --el-color-primary-light-8: rgb(29, 48, 67);
  --el-color-primary-light-9: rgb(24, 34, 43);
  --el-color-primary-dark-2: rgb(102, 177, 255);
  --el-color-success: #67c23a;
  --el-color-success-light-3: rgb(78, 142, 47);
  --el-color-success-light-5: rgb(62, 107, 39);
  --el-color-success-light-7: rgb(45, 72, 31);
  --el-color-success-light-8: rgb(37, 55, 28);
  --el-color-success-light-9: rgb(28, 37, 24);
  --el-color-success-dark-2: rgb(133, 206, 97);
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: rgb(167, 119, 48);
  --el-color-warning-light-5: rgb(125, 91, 40);
  --el-color-warning-light-7: rgb(83, 63, 32);
  --el-color-warning-light-8: rgb(62, 48, 28);
  --el-color-warning-light-9: rgb(41, 34, 24);
  --el-color-warning-dark-2: rgb(235, 181, 99);
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: rgb(178, 82, 82);
  --el-color-danger-light-5: rgb(133, 64, 64);
  --el-color-danger-light-7: rgb(88, 46, 46);
  --el-color-danger-light-8: rgb(65, 38, 38);
  --el-color-danger-light-9: rgb(42, 29, 29);
  --el-color-danger-dark-2: rgb(247, 137, 137);
  --el-color-error: #f56c6c;
  --el-color-error-light-3: rgb(178, 82, 82);
  --el-color-error-light-5: rgb(133, 64, 64);
  --el-color-error-light-7: rgb(88, 46, 46);
  --el-color-error-light-8: rgb(65, 38, 38);
  --el-color-error-light-9: rgb(42, 29, 29);
  --el-color-error-dark-2: rgb(247, 137, 137);
  --el-color-info: #909399;
  --el-color-info-light-3: rgb(107, 109, 113);
  --el-color-info-light-5: rgb(82, 84, 87);
  --el-color-info-light-7: rgb(57, 58, 60);
  --el-color-info-light-8: rgb(45, 45, 47);
  --el-color-info-light-9: rgb(32, 33, 33);
  --el-color-info-dark-2: rgb(166, 169, 173);
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --el-box-shadow-dark:
    0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --el-bg-color-page: #0a0a0a;
  --el-bg-color: #141414;
  --el-bg-color-overlay: #1d1e1f;
  --el-text-color-primary: #e5eaf3;
  --el-text-color-regular: #cfd3dc;
  --el-text-color-secondary: #a3a6ad;
  --el-text-color-placeholder: #8d9095;
  --el-text-color-disabled: #6c6e72;
  --el-border-color-darker: #636466;
  --el-border-color-dark: #58585b;
  --el-border-color: #4c4d4f;
  --el-border-color-light: #414243;
  --el-border-color-lighter: #363637;
  --el-border-color-extra-light: #2b2b2c;
  --el-fill-color-darker: #424243;
  --el-fill-color-dark: #39393a;
  --el-fill-color: #303030;
  --el-fill-color-light: #262727;
  --el-fill-color-lighter: #1d1d1d;
  --el-fill-color-extra-light: #191919;
  --el-fill-color-blank: transparent;
  --el-mask-color: rgba(0, 0, 0, 0.8);
  --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}

html[lab-style*='dark'] .el-button {
  --el-button-disabled-text-color: rgba(255, 255, 255, 0.5);
}

html[lab-style*='dark'] .el-card {
  --el-card-bg-color: var(--el-bg-color-overlay);
}

html[lab-style*='dark'] .el-empty {
  --el-empty-fill-color-0: var(--el-color-black);
  --el-empty-fill-color-1: #4b4b52;
  --el-empty-fill-color-2: #36383d;
  --el-empty-fill-color-3: #1e1e20;
  --el-empty-fill-color-4: #262629;
  --el-empty-fill-color-5: #202124;
  --el-empty-fill-color-6: #212224;
  --el-empty-fill-color-7: #1b1c1f;
  --el-empty-fill-color-8: #1c1d1f;
  --el-empty-fill-color-9: #18181a;
}
